go 1.25.4

use (
	./api-gateway
	./services/delivery-service
	./services/inventory-service
	./services/order-service
	./services/payment-service
	./services/product-service
	./services/support-service
	./services/user-service
	./pkg
)
