go 1.25.4

use (
	./src/api-gateway
	./src/services/delivery-service
	./src/services/inventory-service
	./src/services/order-service
	./src/services/payment-service
	./src/services/product-service
	./src/services/support-service
	./src/services/user-service
	./src/pkg
)
